@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration-line: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header .container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  max-width: 768px;
}

.language-list {
  display: flex;
  justify-content: flex-start;
}
.language-list__item {
  color: var(--basic-white, #FFF);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 5px 7px;
}
.language-list__item--active {
  background-color: #F0145A;
  border-radius: 8px;
}

.header {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
}
.header__list-top {
  display: none;
}
.header__middle {
  display: none;
}
.header__logo {
  display: none;
}
.header__nav-bottom-list {
  display: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
  min-height: 44px;
  align-items: center;
  background-color: rgba(245, 245, 250, 0.2);
  padding: 10px 15px;
}
.header__top a {
  color: var(--basic-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__top .language-list__uk {
  font-size: 12px;
}
.header__top .language-list__ru {
  font-size: 12px;
}
.header__top .language-list__en {
  font-size: 12px;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 57px;
  padding: 0 15px;
}
.header__nav-list a img {
  width: 69.3px;
  height: 32px;
}
.header__menu {
  padding: 0;
  background-color: transparent;
  border: none;
}

.footer {
  background-color: #F5F5FA;
  padding: 0 30px 30px 30px;
}
.footer .container {
  margin: 0 auto;
  max-width: 768px;
}
.footer__top {
  display: none;
}
.footer__bottom {
  display: none;
}
.footer__mobile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__mobile-address {
  color: var(--main-regular, #323264);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__mobile-map {
  color: var(--active-regular, #24A3FF);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer__mobile-item:not(:last-of-type) {
  margin-bottom: 10px;
}
.footer__mobile-item--extra {
  margin-bottom: 21px;
}
.footer__mobile-item--extra2 {
  margin-bottom: 30px;
}
.footer__mobile-tel {
  color: var(--main-alt, #46466E);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__mobile-email {
  color: var(--active-regular, #24A3FF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__mobile-credits {
  color: var(--grey-text, #B3B3BA);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer svg {
  width: 38px;
  height: 38px;
}
.footer__tablet-wrapper {
  display: none;
}
.footer__mobile-facebook-logo svg use {
  fill: #24A3FF;
}
.footer__mobile-facebook-logo:hover svg use {
  transition: 0.3s;
  fill: #F0145A;
}

.wrapper {
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
  border-radius: 0 0 12px 12px;
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: " ";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  width: auto;
  height: 10px;
  margin: 0 40px;
  background-color: #E7E7F2;
  border-radius: 0 0 12px 12px;
  z-index: 99;
}

.wrapper::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: auto;
  height: 10px;
  margin: 0 20px;
  background-color: #CACADB;
  border-radius: 0 0 12px 12px;
  z-index: 99;
}

.hero {
  min-height: 100vh;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 523px 600px;
  padding: 231px 15px 60px 15px;
}
.hero__title {
  color: var(--basic-white, #FFF);
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 159px;
}
.hero svg {
  width: 42px;
  height: 42px;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.services .container {
  padding: 0 30px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 768px;
}
.services a {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  display: flex;
  margin-bottom: 10px;
}
.services__item-title {
  color: var(--active-regular, #24A3FF);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.services__item-subtitle {
  color: var(--basic-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.services__main-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services__item {
  display: flex;
  flex-direction: column;
}
.services__item--ecom::before {
  content: url("../img/Ecommerce.png");
  width: 64px;
  height: 64px;
  padding: 14px;
  border-radius: 24px;
  background: var(--basic-white, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.services__item--comp::before {
  content: url("../img/Support.png");
  width: 64px;
  height: 64px;
  padding: 14px;
  border-radius: 24px;
  background: var(--basic-white, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.services__item--struc::before {
  content: url("../img/Coprorate.png");
  width: 64px;
  height: 64px;
  padding: 14px;
  border-radius: 24px;
  background: var(--basic-white, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.services__item--cont::before {
  content: url("../img/Trust.png");
  width: 64px;
  height: 64px;
  padding: 14px;
  border-radius: 24px;
  background: var(--basic-white, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.services__item--intel::before {
  content: url("../img/Protection.png");
  width: 64px;
  height: 64px;
  padding: 14px;
  border-radius: 24px;
  background: var(--basic-white, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.services__item--judi::before {
  content: url("../img/Court.png");
  width: 64px;
  height: 64px;
  padding: 14px;
  border-radius: 24px;
  background: var(--basic-white, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.trust {
  padding: 50px 30px 60px 30px;
}
.trust .container {
  margin: 0 auto;
  max-width: 768px;
}
.trust .container svg {
  width: 16px;
  height: 16px;
}
.trust .container a {
  display: flex;
  justify-content: flex-start;
  color: #24A3FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.trust__selector svg use {
  opacity: 0.2;
}
.trust__selector--active svg use {
  opacity: 1;
}
.trust__bottom-list {
  padding: 30px;
  border-radius: 0 0 12px 12px;
  background: #EDEDF7;
}
.trust__wrapper {
  margin-bottom: 30px;
}
.trust__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.trust__subtitle {
  color: #B3B3BA;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
}
.trust span {
  display: flex;
  color: var(--grey-text, #B3B3BA);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.trust__selector--active svg circle {
  opacity: 1;
  fill: #24A3FF;
}
.trust__selector-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.trust__top-img {
  background-image: url("../img/dude.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 12px 12px 0 0;
}

.companies .container {
  margin: 0 auto;
  padding: 0;
  max-width: 768px;
}
.companies__title {
  color: var(--main-regular, #323264);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.companies__list {
  display: grid;
  width: 100%;
}
.companies__item--blue {
  background-color: #1C4280;
  width: 100%;
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--cyan {
  background-color: #143646;
  width: 100%;
  padding: 44px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--orange {
  background-color: #F48B30;
  width: 100%;
  padding: 38px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--purple {
  background-color: #9E4DC3;
  width: 100%;
  padding: 39px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--oran {
  background-color: #FD9339;
  width: 100%;
  padding: 38px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--gray {
  background-color: #E2E2E4;
  width: 100%;
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--red {
  background-color: #C71C36;
  width: 100%;
  padding: 29px 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--sky {
  background-color: #DCF3F9;
  width: 100%;
  padding: 22px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--white {
  background-color: #EAEAEA;
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--dpuprle {
  background-color: #282240;
  width: 100%;
  padding: 41px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--cyan2 {
  background-color: #1D4568;
  width: 100%;
  padding: 37px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.companies__item--black {
  background-color: #000;
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publications {
  background-color: #F5F5FA;
  padding: 30px 30px 30px 30px;
}
.publications .container {
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #E6E6F0;
  margin: 0 auto;
  max-width: 768px;
}
.publications a {
  color: var(--active-regular, #24A3FF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 5px;
}
.publications__list {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
.publications__item {
  background-color: #FFF;
  border-radius: 12px;
  width: auto;
}
.publications__item:not(:last-of-type) {
  margin-bottom: 30px;
}
.publications__main-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.publications__top--img1 {
  background-image: url("../img/Publication-1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
}
.publications__top--img2 {
  background-image: url("../img/Publication-2.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
}
.publications__top--img3 {
  background-image: url("../img/Publication-3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
}
.publications__item-title {
  color: var(--active-regular, #24A3FF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.publications__item-date {
  color: var(--grey-text, #B3B3BA);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.publications__item-subtitle {
  color: var(--basic-black, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.publications__bottom {
  padding: 30px;
}
.publications__item-date::after {
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  margin-top: 15px;
}

.page-template-services .header .container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  max-width: 768px;
}
.page-template-services .language-list {
  display: flex;
  justify-content: flex-start;
}
.page-template-services .language-list__item {
  color: var(--basic-white, #FFF);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 5px 7px;
}
.page-template-services .language-list__item--active {
  background-color: #F0145A;
  border-radius: 8px;
}
.page-template-services .header {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
}
.page-template-services .header__list-top {
  display: none;
}
.page-template-services .header__middle {
  display: none;
}
.page-template-services .header__logo {
  display: none;
}
.page-template-services .header__nav-bottom-list {
  display: none;
}
.page-template-services .header__bottom-wrapper {
  display: flex;
  align-items: center;
}
.page-template-services .header__bottom-slash {
  max-width: 12px;
  margin: 0 4px 3px 4px;
}
.page-template-services .header__logo-text {
  color: var(--basic-white, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.page-template-services .header__top {
  display: flex;
  justify-content: space-between;
  min-height: 44px;
  align-items: center;
  background-color: rgba(245, 245, 250, 0.2);
  padding: 10px 15px;
}
.page-template-services .header__top a {
  color: var(--basic-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page-template-services .header__top .language-list__uk {
  font-size: 12px;
}
.page-template-services .header__top .language-list__ru {
  font-size: 12px;
}
.page-template-services .header__top .language-list__en {
  font-size: 12px;
}
.page-template-services .header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 57px;
  padding: 0 15px;
}
.page-template-services .header__nav-list a img {
  width: 69.3px;
  height: 32px;
}
.page-template-services .header__menu {
  padding: 0;
  background-color: transparent;
  border: none;
}

.page-template-services .footer {
  padding: 30px;
}

.page-template-services .hero {
  display: none;
}

.page-template-services .services .container {
  padding: 132px 30px 0 30px;
  padding-bottom: 60px;
}
.page-template-services .services__item-service {
  display: none;
}

.page-template-services .trust {
  display: none;
}

.page-template-services .companies .container {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 768px;
}

.page-template-services .publications {
  display: none;
}

@media only screen and (min-width: 768px) {
  .language-list {
    display: none;
  }
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 60px 0 60px;
    gap: 30px;
  }
  .header__phone-number {
    display: none;
  }
  .header__middle {
    display: none;
  }
  .header__nav-list {
    display: none;
  }
  .header__top {
    background-color: transparent;
    padding: 0;
    min-height: unset;
  }
  .header__list-top {
    display: flex;
    align-items: center;
  }
  .header .language-list__uk, .header .language-list__ru, .header .language-list__en {
    color: var(--basic-white, #FFF);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 5px 7px;
  }
  .header__address {
    color: var(--grey-text, #B3B3BA);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header__item-top--address {
    display: flex;
    align-items: center;
  }
  .header__item-top--address::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin: 0 6px;
  }
  .header__item-top--address::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin: 0 6px;
  }
  .header__item-top--number {
    display: flex;
    align-items: center;
  }
  .header__item-top--number::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin: 0 6px;
  }
  .header__nav-bottom-list {
    display: flex;
    gap: 15px;
  }
  .header__nav-bottom-list a {
    color: var(--basic-white, #FFF);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header__logo {
    margin-bottom: 30px;
    display: flex;
  }
  .header a:hover svg path {
    transition: 0.5s;
    fill: #F0145A;
  }
  .header__hover-gray a:hover {
    transition: 0.3s;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
  }
  .header__item-top--active {
    background-color: #F0145A;
    border-radius: 8px;
    padding: 4px 1px;
  }
  .header svg {
    width: 24px;
    height: 24px;
  }
  .header__facebook-logo {
    width: 24px;
    height: 24px;
  }
  .header svg {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .header__facebook-logo svg use {
    fill: white;
  }
  .header__facebook-logo:hover svg use {
    transition: 0.3s;
    fill: #F0145A;
  }
  .header__nav-bottom-item a:hover {
    margin-top: 3px;
    transition: 0.15s;
  }
  .header__nav-bottom-item a:hover::after {
    content: "";
    display: flex;
    background-color: #FFF;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .header__nav-middle-item a:hover {
    margin-top: 3px;
    transition: 0.15s;
  }
  .header__nav-middle-item a:hover::after {
    content: "";
    display: flex;
    background-color: #FFF;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .footer {
    background-color: #F5F5FA;
    padding: 0 60px 30px;
  }
  .footer .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .footer__mobile-list {
    display: none;
  }
  .footer__bottom {
    display: flex;
  }
  .footer__top-list {
    display: flex;
  }
  .footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }
  .footer__top-credits {
    color: var(--grey-text, #B3B3BA);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer__top-address {
    color: var(--main-regular, #323264);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer__top-map {
    color: var(--active-regular, #24A3FF);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .footer__botom-list {
    display: flex;
    align-items: center;
  }
  .footer__botom-tel {
    color: var(--main-alt, #46466E);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer__botom-email {
    color: var(--active-regular, #24A3FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer__bottom-facebook-logo {
    display: flex;
    align-items: center;
  }
  .footer li {
    display: flex;
    align-items: center;
  }
  .footer li:not(:last-child)::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #B3B3BA;
  }
  .footer__bottom-facebook-logo svg use {
    fill: #24A3FF;
  }
  .footer__bottom-facebook-logo:hover svg use {
    transition: 0.3s;
    fill: #F0145A;
  }
  .footer__botom-email:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .footer__top-map:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .hero {
    padding: 0 0;
    padding-top: 469px;
    background-size: 893px 1024px;
  }
  .hero__title {
    margin-bottom: 417px;
  }
  .hero .container {
    padding: 0;
    padding-bottom: 90px;
  }
  .hero a svg use {
    stroke: #FFF;
  }
  .hero a:hover svg use {
    transition: 0.3s;
    stroke: #F0145A;
  }
  .services .container {
    padding: 0 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 768px;
  }
  .services a {
    color: var(--active-regular, #24A3FF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    display: flex;
    margin-bottom: 10px;
  }
  .services__item-subtitle {
    width: 100%;
  }
  .services__main-title {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
  }
  .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    width: 100%;
  }
  .services a:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .trust {
    padding: 80px 60px 60px 60px;
  }
  .trust .container {
    margin: 0 auto;
    max-width: 768px;
  }
  .trust__title {
    font-size: 38px;
  }
  .trust a:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .companies .container {
    margin: 0 auto;
    padding: 0;
    max-width: 1024px;
  }
  .companies__title {
    color: var(--main-regular, #323264);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
  }
  .companies__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .publications {
    padding: 30px 60px 30px 60px;
  }
  .publications .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  .publications__item {
    background-color: #FFF;
    border-radius: 12px;
    width: 100%;
    margin: 0 auto;
  }
  .publications__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .publications__item--tablet {
    grid-column: span 2;
  }
  .publications__main-title {
    font-size: 38px;
  }
  .publications__item:not(:last-of-type) {
    margin-bottom: 0px;
  }
  .publications a:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .page-template-services .language-list {
    display: none;
  }
  .page-template-services .header__phone-number {
    display: none;
  }
  .page-template-services .header__middle {
    display: none;
  }
  .page-template-services .header__top {
    background-color: transparent;
    padding: 0;
    min-height: unset;
  }
  .page-template-services .header__list-top {
    display: flex;
    align-items: center;
  }
  .page-template-services .header__facebook-logo {
    display: flex;
  }
  .page-template-services .header__nav-list {
    display: none;
  }
  .page-template-services .header .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 60px 0 60px;
    gap: 30px;
  }
  .page-template-services .header__bottom {
    padding: 0;
  }
  .page-template-services .header .language-list__uk, .page-template-services .header .language-list__ru, .page-template-services .header .language-list__en {
    color: var(--basic-white, #FFF);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 5px 7px;
  }
  .page-template-services .header__address {
    color: var(--grey-text, #B3B3BA);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .header__item-top-pad {
    margin: 0 6px;
    padding-bottom: 3px;
  }
  .page-template-services .header .active {
    background-color: #F0145A;
    border-radius: 8px;
    padding: 4px 1px;
  }
  .page-template-services .header__nav-bottom-list {
    display: flex;
    gap: 15px;
  }
  .page-template-services .header__nav-bottom-list a {
    color: var(--basic-white, #FFF);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .page-template-services .header__nav-services-item {
    display: flex;
  }
  .page-template-services .header__nav-services-item a {
    color: #F0145A;
    padding-bottom: 3px;
    border-bottom: 2px solid #F0145A;
  }
  .page-template-services .header__logo {
    margin-bottom: 30px;
    display: none;
  }
  .page-template-services .header__middle {
    display: flex;
  }
  .page-template-services .header__wrapper {
    display: none;
  }
  .page-template-services .header__middle-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .page-template-services .header__logo-text {
    color: var(--basic-white, #FFF);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .header__middle-slash {
    width: 21px;
    height: 47px;
    margin: 0 4px 13px 4px;
  }
  .page-template-services .header a:hover svg path {
    transition: 0.5s;
    fill: #F0145A;
  }
  .page-template-services .header__nav-middle-item a:hover {
    margin-top: 3px;
    transition: 0.15s;
  }
  .page-template-services .header__nav-middle-item a:hover::after {
    content: "";
    display: flex;
    background-color: #FFF;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .page-template-services .header__hover-gray a:hover {
    transition: 0.3s;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
  }
  .page-template-services .header__nav-bottom-item a:hover {
    margin-top: 3px;
    transition: 0.15s;
  }
  .page-template-services .header__nav-bottom-item a:hover::after {
    content: "";
    display: flex;
    background-color: #FFF;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .page-template-services .header__nav-middle-item--active a {
    color: #F0145A;
  }
  .page-template-services .header__nav-middle-item--active a::after {
    content: "";
    display: flex;
    background-color: #F0145A;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .page-template-services .header__nav-bottom-item--active a {
    color: #F0145A;
  }
  .page-template-services .header__nav-bottom-item--active a::after {
    content: "";
    display: flex;
    background-color: #F0145A;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .page-template-services .header__nav-bottom-item--active a:hover {
    margin-top: 3px;
    transition: 0.15s;
  }
  .page-template-services .header__nav-bottom-item--active a:hover::after {
    content: "";
    display: flex;
    background-color: #F0145A;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .page-template-services .header__nav-middle-item--active a:hover {
    margin-top: 3px;
    transition: 0.15s;
  }
  .page-template-services .header__nav-middle-item--active a:hover::after {
    content: "";
    display: flex;
    background-color: #F0145A;
    margin-top: 3px;
    width: 100%;
    height: 2px;
  }
  .page-template-services .footer {
    background-color: #F5F5FA;
    padding: 30px 60px;
  }
  .page-template-services .footer .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .page-template-services .footer__mobile-list {
    display: none;
  }
  .page-template-services .footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    padding-top: 30px;
    border-top: 2px solid #E6E6F0;
  }
  .page-template-services .footer__bottom {
    display: flex;
  }
  .page-template-services .footer__top-list {
    display: flex;
  }
  .page-template-services .footer__top-credits {
    color: var(--grey-text, #B3B3BA);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .footer__top-address {
    color: var(--main-regular, #323264);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .footer__top-map {
    color: var(--active-regular, #24A3FF);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .page-template-services .footer__botom-list {
    display: flex;
    align-items: center;
  }
  .page-template-services .footer__botom-tel {
    color: var(--main-alt, #46466E);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .page-template-services .footer__botom-email {
    color: var(--active-regular, #24A3FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .page-template-services .footer__bottom-facebook-logo {
    display: flex;
    align-items: center;
  }
  .page-template-services .footer__bottom {
    display: none;
  }
  .page-template-services .footer__top {
    display: none;
  }
  .page-template-services .footer__mobile-list {
    display: none;
  }
  .page-template-services .footer__tablet-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 398px;
    margin: 0 auto;
  }
  .page-template-services .footer__tablet-map {
    color: var(--active-regular, #24A3FF);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .page-template-services .footer__tablet-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 21px;
  }
  .page-template-services .footer__tablet-credits {
    color: var(--grey-text, #B3B3BA);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .footer__tablet-address {
    color: var(--main-regular, #323264);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .footer__item-tablet-pad {
    display: flex;
    margin: 0 10px;
  }
  .page-template-services .footer__tabletb-list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .page-template-services .footer__tablet-tel {
    color: var(--main-alt, #46466E);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .page-template-services .footer__tablet-email {
    color: var(--active-regular, #24A3FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .page-template-services .footer__tablet-facebook-logo {
    display: flex;
    align-items: center;
  }
  .page-template-services .footer__tablet-credits {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-template-services .footer__tablet-facebook-logo svg use {
    fill: #24A3FF;
  }
  .page-template-services .footer__tablet-facebook-logo:hover svg use {
    transition: 0.3s;
    fill: #F0145A;
  }
  .page-template-services .footer__tablet-email:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .page-template-services .footer__tablet-map:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .page-template-services .hero {
    display: none;
  }
  .page-template-services .services .container {
    padding: 280px 60px 60px 60px;
    margin: 0 auto;
    max-width: 768px;
  }
  .page-template-services .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .page-template-services .services__item-title:hover {
    transition: 0.5s;
    color: #F0145A;
  }
  .page-template-services .trust {
    display: none;
  }
  .page-template-services .companies .container {
    max-width: 1024px;
  }
  .page-template-services .companies__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .page-template-services .publications {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .header .container {
    align-items: unset;
    max-width: 1440px;
  }
  .header__top {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .header__middle {
    display: flex;
  }
  .header__middle-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header__item-middle--address {
    display: flex;
    align-items: center;
  }
  .header__item-middle--address::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin: 0 6px;
  }
  .header__item-middle--address::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin: 0 6px;
  }
  .header__item-middle--number {
    display: flex;
    align-items: center;
  }
  .header__item-middle--number::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
    margin: 0 6px;
  }
  .header__list-middle {
    display: flex;
    align-items: center;
  }
  .header__list-middle a {
    color: var(--basic-white, #FFF);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .header__list-middle .header__address {
    color: var(--basic-white, #FFF);
    letter-spacing: 1px;
    font-weight: 400;
  }
  .header__list-middle .header__number {
    font-size: 16px;
  }
  .header__number a {
    font-size: 16px;
  }
  .header__item-middle-pad {
    margin: 0 6px;
    padding-bottom: 3px;
  }
  .header__item-middle--active {
    background-color: #F0145A;
    border-radius: 8px;
    padding: 4px 1px;
  }
  .header__nav-middle-list {
    display: flex;
    gap: 15px;
  }
  .header__nav-middle-list a {
    color: var(--basic-white, #FFF);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
  }
  .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 16px;
  }
  .footer {
    background-color: #F5F5FA;
    padding: 0 60px 30px;
  }
  .footer .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .hero {
    padding: 0;
    padding-top: 361px;
    background-size: 670px 768px;
  }
  .hero__title {
    margin-bottom: 289px;
  }
  .hero .container {
    padding: 0;
    padding-bottom: 90px;
  }
  .services .container {
    padding: 0 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 1024px;
  }
  .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    width: 100%;
  }
  .trust .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  .trust__bottom-list {
    border-radius: 0 12px 12px 0;
    width: 504px;
    height: 528px;
  }
  .trust__top-img {
    display: flex;
    justify-content: flex-start;
    background-image: url("../img/dude.png");
    background-position: center center;
    background-size: cover;
    width: 400px;
    height: 528px;
    border-radius: 12px 0 0 12px;
  }
  .trust__wrapper {
    display: flex;
    justify-content: center;
  }
  .companies .container {
    max-width: 1440px;
  }
  .companies__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .publications .container {
    margin: 0 auto;
    max-width: 1920px;
  }
  .publications__item {
    background-color: #FFF;
    border-radius: 12px;
    width: 100%;
    margin: 0 auto;
  }
  .publications__item--tablet {
    width: 100%;
  }
  .publications__main-title {
    font-size: 38px;
  }
  .publications__item:not(:last-of-type) {
    margin-bottom: 0px;
  }
  .publications__item--tablet {
    grid-column: unset;
  }
  .publications__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .page-template-services .header .container {
    align-items: unset;
    max-width: 1440px;
  }
  .page-template-services .header__logo-text {
    color: var(--basic-white, #FFF);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .header__top {
    display: none;
  }
  .page-template-services .header__bottom {
    display: none;
  }
  .page-template-services .header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 550px;
    gap: 16px;
  }
  .page-template-services .footer {
    background-color: #F5F5FA;
    padding: 30px 60px;
  }
  .page-template-services .footer .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .page-template-services .footer__mobile-list {
    display: none;
  }
  .page-template-services .footer__tablet-wrapper {
    display: none;
  }
  .page-template-services .footer__bottom {
    display: flex;
  }
  .page-template-services .footer__top-list {
    display: flex;
  }
  .page-template-services .footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    padding: 0;
    border: none;
  }
  .page-template-services .footer__top-credits {
    color: var(--grey-text, #B3B3BA);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .footer__top-address {
    color: var(--main-regular, #323264);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .page-template-services .footer__top-map {
    color: var(--active-regular, #24A3FF);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .page-template-services .footer__botom-list {
    display: flex;
    align-items: center;
  }
  .page-template-services .footer__botom-tel {
    color: var(--main-alt, #46466E);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .page-template-services .footer__botom-email {
    color: var(--active-regular, #24A3FF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .page-template-services .footer__bottom-facebook-logo {
    display: flex;
    align-items: center;
  }
  .page-template-services .footer li {
    display: flex;
    align-items: center;
  }
  .page-template-services .footer li:not(:last-child)::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #B3B3BA;
  }
  .page-template-services .footer__bottom-facebook-logo svg use {
    fill: #24A3FF;
  }
  .page-template-services .footer__bottom-facebook-logo:hover svg use {
    transition: 0.3s;
    fill: #F0145A;
  }
  .page-template-services .footer__botom-email:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .page-template-services .footer__top-map:hover {
    transition: 0.3s;
    color: #F0145A;
  }
  .page-template-services .hero {
    display: none;
  }
  .page-template-services .services .container {
    padding: 280px 60px 60px 60px;
    margin: 0 auto;
    max-width: 1024px;
  }
  .page-template-services .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .page-template-services .trust {
    display: none;
  }
  .page-template-services .companies .container {
    max-width: 1440px;
  }
  .page-template-services .companies__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .page-template-services .publications {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .header .container {
    max-width: 1920px;
  }
  .hero {
    padding: 0 0;
    padding-top: 377px;
    background-size: 697px 799px;
  }
  .hero__title {
    margin-bottom: 305px;
  }
  .hero .container {
    padding: 0;
    padding-bottom: 90px;
  }
  .services .container {
    margin: 0 auto;
    max-width: 1440px;
  }
  .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    width: 100%;
  }
  .trust .container {
    margin: 0 auto;
    max-width: 1440px;
  }
  .trust__bottom-list {
    width: 920px;
    height: 344px;
  }
  .trust__top-img {
    width: 400px;
    height: 344px;
  }
  .trust__wrapper {
    display: flex;
    justify-content: center;
  }
  .page-template-services .hero {
    display: none;
  }
  .page-template-services .services .container {
    padding: 280px 60px 60px 60px;
    margin: 0 auto;
    max-width: 1440px;
  }
  .page-template-services .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    width: 100%;
  }
  .page-template-services .trust {
    display: none;
  }
  .page-template-services .publications {
    display: none;
  }
}
@media only screen and (min-width: 1920px) {
  .header .container {
    padding: 50px 160px 0 160px;
  }
  .footer {
    padding: 0 160px 30px;
  }
  .footer .container {
    max-width: 1920px;
    margin: 0 auto;
  }
  .hero {
    padding: 0 0;
    padding-top: 477px;
    background-size: 872px 1000px;
  }
  .hero__title {
    margin-bottom: 405px;
  }
  .hero .container {
    padding: 0;
    padding-bottom: 90px;
  }
  .services .container {
    padding: 0 160px;
    padding-bottom: 60px;
    margin: 0 auto;
    max-width: 1920px;
  }
  .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    width: 100%;
  }
  .trust {
    padding: 80px 160px 60px 160px;
  }
  .trust .container {
    max-width: 1920px;
  }
  .trust__bottom-list {
    width: 1200px;
    height: 298px;
  }
  .trust__top-img {
    height: 298px;
  }
  .companies .container {
    padding: 0 100px;
    max-width: 1920px;
  }
  .companies__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .companies__item--blue {
    background-color: #1C4280;
    width: 100%;
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 0 0;
  }
  .companies__item--purple {
    background-color: #9E4DC3;
    width: 100%;
    padding: 39px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 12px 0 0;
  }
  .companies__item--white {
    background-color: #EAEAEA;
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 12px;
  }
  .companies__item--black {
    background-color: #000;
    width: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 12px 0;
  }
  .publications {
    padding: 30px 160px;
  }
  .publications .container {
    margin: 0 auto;
    max-width: 1920px;
  }
  .page-template-services .header .container {
    align-items: unset;
    max-width: 1920px;
    padding: 50px 160px 0 160px;
  }
  .page-template-services .footer {
    padding: 30px 160px;
  }
  .page-template-services .footer .container {
    max-width: 1920px;
  }
  .page-template-services .hero {
    display: none;
  }
  .page-template-services .services .container {
    padding: 280px 160px 60px 160px;
    margin: 0 auto;
    max-width: 1920px;
  }
  .page-template-services .services__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    width: 100%;
  }
  .page-template-services .trust {
    display: none;
  }
  .page-template-services .publications {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
