.page-template-services{
    .services{
        .container{
            padding: 132px 30px 0 30px;
            padding-bottom: 60px;
        }
        &__item-service{
            display: none;
        }
    }
}