.companies{
    .container{
        margin: 0 auto;
        padding: 0;
        max-width: 768px;
    }
    &__title{
        color: var(--main-regular, #323264);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
    }

    &__list{
        display: grid;
        width: 100%;

    }

    &__item--blue{
        background-color: #1C4280;
        width: 100%;
        padding: 36px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--cyan{
        background-color: #143646;
        width: 100%;
        padding: 44px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--orange{
        background-color: #F48B30;
        width: 100%;
        padding: 38px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--purple{
        background-color: #9E4DC3;
        width: 100%;
        padding: 39px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--oran{
        background-color: #FD9339;
        width: 100%;
        padding: 38px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--gray{
        background-color: #E2E2E4;
        width: 100%;
        padding: 36px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--red{
        background-color: #C71C36;
        width: 100%;
        padding: 29px 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--sky{
        background-color: #DCF3F9;
        width: 100%;
        padding: 22px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--white{
        background-color: #EAEAEA;
        width: 100%;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--dpuprle{
        background-color: #282240;
        width: 100%;
        padding: 41px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--cyan2{
        background-color: #1D4568;
        width: 100%;
        padding: 37px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item--black{
        background-color: #000;
        width: 100%;
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}