.publications{
    background-color: #F5F5FA;
    padding: 30px 30px 30px 30px;
    .container{
        padding: 0;
        padding-bottom: 30px;
        border-bottom: 2px solid #E6E6F0;
        margin: 0 auto;
        max-width: 768px;

    }
    a{
        color: var(--active-regular, #24A3FF);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: flex;
        margin-bottom: 5px;
    }

    &__list{
        display: flex;
        gap: 30px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item{

        background-color: #FFF;
        border-radius: 12px;
        width: auto;
    }

    &__item:not(:last-of-type){
        margin-bottom: 30px;
    }

    &__main-title{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
    }

    &__top--img1{
        background-image: url("../img/Publication-1.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 12px 12px 0 0;

    }

    &__top--img2{
        background-image: url("../img/Publication-2.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 12px 12px 0 0;

    }
    &__top--img3{
        background-image: url("../img/Publication-3.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 200px;
        border-radius: 12px 12px 0 0;

    }

    &__item-title{
        color: var(--active-regular, #24A3FF);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 15px;
    }

    &__item-date{
        color: var(--grey-text, #B3B3BA);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    &__item-subtitle{
        color: var(--basic-black, #000);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

    }

    &__bottom{
        padding: 30px;
    }

    &__item-date::after{
        content: " ";
        width: 100%;
        height: 4px;
        background-color: #E6E6F0;
        margin-top: 15px;

    }

}