.services{

    .container{
        padding: 0 60px;
        padding-bottom: 60px;
        margin: 0 auto;
        max-width: 1024px;
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        margin: 0 auto;
        gap: 60px;
        width: 100%;
    }
}
