.trust{
    padding: 80px 160px 60px 160px;
    .container{
        max-width: 1920px;
    }

    &__bottom-list{
        width: 1200px;
        height: 298px;
    }

    &__top-img{
        height: 298px;
    }

}