.page-template-services{
    .companies{
        .container{
            max-width: 1024px;
        }
    
        &__list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
    
        }
    }
}